/* setting default font to century gothic */
* { font-family: Helvetica !important }

/* container is the overall structure; setting it to only
set width so that height can be changed by elements */
#container {
  width: 350px;
}
/* setting default margin to 0 to fix weird border issue */
body {
  margin: 0px;
}
/* row is a typical object, like score or stock graph */
.row {
  height: 120px;
  box-sizing: border-box;
  background-color: #fdfdfd;
}

/* enabled transitions and side by side design for header */
.header {
  height: 60px;
  width: 33.3%;
  box-sizing: border-box;
  float: left;
  border: none;
  border-bottom: 1px solid #A5C0DC;
  background-color: #DBE2ED;
  transition: border-bottom 0.5s;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  color: #5c5b5b;
}
.header:hover {
  cursor: pointer;
  border-bottom: 3px solid #53739F;
}
.header:focus {
  outline: none;
  cursor: default;
  border-bottom: 3px solid #53739F;
}
/* actual text in the headers */
.header-text {
}
/* text in the score */
#score {
  text-align: center;
  padding: 10px;
  font-size: 72px;
  color: #0018a8;
}
#score:hover {
  cursor: default;
}

.tabcontent {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  /* color: black; */
  color: #5c5b5b;
  background-color: white;
}

.button {
  background-color: #53739f;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}

.button:hover {
  background-color: #A5C0DC;
}
