#container {
  width: 300px;
}
body {
  margin: 0px;
}
.row {
  height: 120px;
  box-sizing: border-box;
  background-color: #fdfdfd;
}
.header {
  height: 50px;
  width: 50%;
  box-sizing: border-box;
  float: left;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  background-color: white;
}
.header:hover {
  cursor: pointer;
}
.header:focus {
  outline: none;
  cursor: default;
  border-bottom: 1px solid black;
}
#headerText {
  text-align: center;
  padding: 10px;
  font-size: 22px;
  color: #0018a8;
}
#score {
  text-align: center;
  padding: 10px;
  font-size: 72px;
  color: #0018a8;
}
* {
  font-family: Century Gothic;
}
